<h1>ABOUT US</h1>
<div>
<p>Filling the Gap in Health Care</p>
<p>For many years, there has been a gap in health care in the communities of Shiloh, Greenwhich, and the surrounding areas. Shiloh Medical Services was founded with a mission to fill this gap and provide quality health care that is focused on the whole person, delivered at an affordable price!
</p>
<p>The vision for Shiloh Medical Services began several years ago when Physician Assistant, Chad Kaufman recognized the need for quality health care in the community and decided it was time to make a difference.
</p>
<p>Through skilled and diverse staff, Shiloh Medical Services is able to provide services such as laboratory testing, minor injuries treatment, family medicine, men’s health, women’s health, minor infections treatment, physicals, health screenings, and more! At Shiloh Medical Services, it is essential that you receive the quality of care you deserve and have direct access and transparency with your care provider.
</p>
</div>
